.MatrixContainer{
    position: relative;
    margin-right: 40px;
    margin-top: 10px;
    height: 434px;
    width: 450px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(27, 27, 27, 0.377);
  }