.NewGame:active {
    transform: translate(1px, 1px) !important;
}
.NewGame{
    position: relative;
    background: rgb(255, 166, 0);
    cursor: pointer;
}

.ToolTipText{
    display: inline-block;
    visibility: hidden;
    width: 120px;
    padding: 18px;
    border: 1px solid #161616;
    box-shadow: 5px 5px 25px 0 #0000004b;
    background: rgba(32, 32, 32, 0.7);
    color:rgb(255, 209, 93);
    text-align: center;
    border-radius:10px;
    position: absolute;
    z-index: 300;
    bottom:-3px;
    left: 120%;
    opacity: 0;
    transition: opacity 0.3s;
}

.NewGame:hover .ToolTipText{
    cursor: default;
    visibility: visible;
    opacity: 1;
}