.Size{
  background: rgb(0, 188, 194);
}
.SizeDetails{
    position: absolute;
    visibility: hidden;
    width: 140px;
    height: 120px;
    right: -165px;
    padding: 10px;
    border: 1px solid #161616;
    border-radius: 10px;
    border-left: none;
    box-shadow: 5px 5px 25px 0 rgba(7, 7, 7, 0.2);
    background: rgba(32, 32, 32, 0.7);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .Size:hover .SizeDetails{
    visibility: visible;
    opacity: 1;  }
  
  .SizeDetails div{
    width: 30px;
    float: left;
    height: 30px;
    margin: 3px;
    padding: 5px;
    border-radius: 2px;
    line-height: 1px;
    background: #383838;
}
  .SizeDetails div:hover{
    background: #056de4;
    cursor: pointer;
  }
  .SizeDetails div:active{
    transform: translate(1px,1px);
  }
  .SizeDetails div p{  
    line-height: 0;
    margin-top: 9px; 
  }
  .SizeDetails div p{  
    color: ghostwhite;
    font-family: 'Gugi';
  }
  .SizeDetails div.Current, .SizeDetails div.Current:hover, .SizeDetails div.Current:active {
    background:#056de4;
    cursor: default;
    transform: translate(0,0);
}  
  .SizeDetails div p span{  
    color: rgb(255, 236, 61);
    font-family: 'East Sea Dokdo'/*'Shrikhand'*/, cursive;
    font-size: 30px;
    /*font-family: 'East Sea Dokdo', cursive;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Righteous', cursive;*/
  
  }
  .SizeDetails p{
    line-height: 1px;
    color:rgb(255, 209, 93);
  }