.Help{
    position: relative;
    background: rgb(33, 66, 255);
}
.Help:active {
    transform: translate(1px, 1px) !important;
}
.Help:hover{
    background: #303030dc;
}

.ToolTipText{
    display: inline-block;
    visibility: hidden;
    width: 120px;
    padding: 16px;
    border: 1px solid #161616;
    box-shadow: 5px 5px 25px 0 #0000004b;
    background: rgba(32, 32, 32, 0.7);
    color:rgb(255, 209, 93);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 300;
    bottom: -3px;
    left: 120%;
    opacity: 0;
    transition: opacity 0.3s;
}
.ToolTipText p{
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
        /*font-family: 'East Sea Dokdo', cursive;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Righteous', cursive;*/
}
.Help:hover .ToolTipText{
    visibility: visible;
    opacity: 1;
}