
.Info_wrapper {
  background: #30303000;
  border-radius: 5px 5px 0 5px ;
 /* border: 1px solid red;*/
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: left;
 /* flex-direction: row-reverse;*/

}

.Info_Score, .Info_Best, .Tips{
  border-radius: 5px;
  background: #303030cb;
  box-shadow: 2px 2px 1px rgba(7, 7, 7, 0.774);
  color: #fcfcfc;
  font-weight: bold;
  text-align: center; 
  position: relative;
  font-size: 16px;
  line-height: 80px;
  padding: 0 25px;
  height: 60px;
  display: inline-block;
  margin: 0 5px 0 0;
  min-width: 50px;
}

.Info_Score:after, .Info_Best:after{
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 13px;
  text-align: center;
  color: goldenrod;
}

.Info_Score:after {
  content: "Score"; 
}

.Info_Best:after {
  content: "Best"; 
}

.Tips{
  width: 240px;
  text-align: left;
  display: block;
  float: left;
  padding: 0 10px 10px 10px;
  margin: 0 10px 0 5px;
  height: 50px;
} 
.Tips p{
  font-size: 12px;
  line-height: 17px;
  color:#eee; 
  font-weight: normal;
  margin-top: 5px;
} 
.Tips p span{
  color: goldenrod;
  font-size: 15px;
} 
/*
      @media screen and (max-width: 480px) {
        .AppTitle h1{
          font-size: 35px;
          margin-top: 50px;
          margin-bottom: 15px; 
          margin-left: 2px; 
           }
        .AppTitle p{
          font-size: 10px ;
          line-height: 1.5;
      }
      .Info_Score, .Info_Best{        
        font-size: 13px;
        line-height: 47px;
        padding: 10px 18px;
        height: 25px;
      }
      .Info_Score:after, .Info_Best:after {
        font-size: 10px;
        line-height: 10px; }
      .AppHeader {
        height: 90px;}
      .NewGame{
        grid-column: 2 / 5;
        width: 100px;
        font-size: 12px;
        height: 25px;
        line-height: 0.2;
        padding: 0;
        padding-bottom: 0;
      }
          .Info_wrapper {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 5px;
         }
      }*/