.GameContainer {
  cursor: default;
  touch-action: none;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  position: relative;
  width:  565px;
  height: 550px;
  margin: 15px auto;
  border-radius: 10px; 
  box-sizing: border-box;
  padding-left: 30px;
  /*border: 1px solid #fff;*/
}

/*
@media screen and (max-width: 521px) {
      .MatrixContainer {
          margin-top: 40px;
          padding: 12px;
          width: 450px;
          height: 450px;}
    }
    
@media screen and (max-width: 481px) {
  .MatrixContainer {
    margin-top: 17px;
    padding: 10px;
    width: 280px;
    height: 280px; }
}
*/