.Restore{
    background: rgb(226, 16, 16);  
    cursor: pointer;  
}
.Restore:active {
    transform: translate(1px, 1px) !important;
}
.ToolTip{
    position: relative;
    height: 50px;
}

.Attempts_1::after{content: '1';}
.Attempts_2::after{content: '2';}
.Attempts_3::after{content: '3';}
.Attempts_0::after{content: '0';}
.Attempts_4::after{content: '3';}

.Attempts_0, .Attempts_4{
    cursor: not-allowed;
    opacity: 0.50;
}

.Attempts_0::after, 
.Attempts_1::after, 
.Attempts_2::after, 
.Attempts_3::after, 
.Attempts_4::after{
    position: absolute;
    left: 27px;
    font-size: 13px;
    display: block;
    width: 5px;
    height: 10px;
    top:0;
    background: #016fc9;
    padding: 2px  8px 6px 6px;
    border-radius: 10px;
    z-index: 305;
}

.ToolTipText{
    display: inline-block;
    visibility: hidden;
    width: 120px;
    padding: 14px;
    border: 1px solid #161616;
    box-shadow: 5px 5px 25px 0 #0000004b;
    color:rgb(255, 193, 37);
    background: rgba(32, 32, 32, 0.7);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 300;
    top: 0%;
    left: 120%;
    opacity: 0;
    transition: opacity 0.3s;
}

.Clicked svg{
    stroke:#4fb0ff;
    fill:#4fb0ff;
}

.Clicked {
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 5px rgb(52, 255, 255);
}

.Clicked:hover {
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 5px rgb(52, 255, 255) !important;
}

.ToolTip:hover .ToolTipText{
    visibility: visible;
    opacity: 1;
}

.Remind{
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
  @keyframes shake {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }